*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
}
main{
    width: 10%;
    height: 10vh;
    background-color: blue;
    margin: 1rem;
}
