*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: red;
    background-color: yellow;
    margin: 1rem 2rem 1rem 2rem;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    padding: 1rem;
    
}
p{
    color: blueviolet;
    background-color: chocolate;
    margin: 1rem;
    padding: 1rem ;

}
ul{
    color: white;
    background-color: darkgreen;
    padding: 2rem;
}
#para1{
    color: blue;
    background-color: darkgrey;
    padding: 1rem;
}
#para2{
    color: chartreuse;
    background-color: black;
    padding: 1rem;
}
#para3{
    color: darkgreen;
    background-color: darkseagreen;
    padding: 1rem;
}
#para4{
    color: red;
    background-color: greenyellow;
    padding: 1rem;
}
.box1{
    width: 40%;
    height: 30vh;
    background-color: red;
    margin: 1rem;
}
.box2{
    width: 40%;
    height: 30vh;
    background-color: blue;
    margin: 1rem;
}
.box3{
    width: 40%;
    height: 30vh;
    background-color: darkgreen;
    margin: 1rem;
}
#mypara{
    background-color: black;
}    