*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 50vh;
    
}
main{
    width: 70%;
    height: 80vh;
    border: 5px solid red;
    position: relative;
    top: 100px;
    left: 100px;
}
section{
    width: 30%;
    height: 20vh;
    border: 3px solid blue;
    position: absolute;
    top: 100px;
    right: 100px;
}
img{
    width: 15%;
}
