*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 1rem;
}
section{
    width: 40%;
    height: 40vh;
    border: 2px solid red;
    margin: 1rem;
    background-color: blue;
}
